*{
    outline: 0;
    margin: 0;
    padding: 0;
}

html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    /* #c5beaf 노랑의밝은색조*/
    background-color:#c5beaf;
}

canvas{
    width: 100%;
    height: 100%;
}